DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="forge"
DB_USER="forge"
DB_PASSWORD="forge_dev_password"

"TMDB_Access_Token"="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkN2Q3MDhkZWM1ODE5OTUxMDcyMTI1MWZjZjUzNmQzMCIsIm5iZiI6MTc4Njg3NDIwNy41OTAwMDAyLCJzdWIiOiI2YTgxODk1Zjg1NmY5ZDc0NzM2M2JhZGYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.G15oYqgsOOJe6FWNMR_Ie2M0xngMer8k4jcrk9Rjul4"
"APIKey"="d7d708dec58199510721251fcf536d30"